.card{ 
  margin-top:5%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      color:black;
      font-size:0.5em;    
      background-color: #f1f1f1;
      width:400px
    
  }

  .card div{
     margin-bottom:10px;
  }